* {
  box-sizing: border-box;
}

body {
  min-height: 98vh;
  background-image: url(./images/reference-image.png);
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: 1000px;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  text-align: center;
  background-color: #000000;
  background-position: center top;
  border: #ffffff 1px solid;
}
footer {
  text-align: center;
}
header {
  padding: 2.52% 0 2.52% 0;
  text-align: center;
  margin: auto;
}
.logo {
  margin: auto;
}
.topBox {
  padding: 0.6%;
  width: 60%;
  margin: auto;
  border: 0.8rem solid #000000;
  margin-top: 2.5%;
  background-color: #f8e7e4cb;
}
form {
  background-color: #f8e7e4cb;
  width: 60%;
  margin: auto;
  padding: 0.1%;
  padding-bottom: 2.9%;
  margin-bottom: 2%;
  border: #f8e7e42f solid 1px;
}
form p {
  font-size: 1.13rem;
}
label {
  margin: 1.8% auto 0px auto;
  color: #e3e3e3;
  background-color: #363636;
  padding: 0.5%;
  padding-left: 2%;
  text-transform: uppercase;
  display: block;
  width: 51%;
  font-size: 0.8rem;
  text-align: left;
}
input {
  background-color: #ffffff;
  display: block;
  min-height: 2.5rem;
  width: 51%;
  margin: auto;
  font-size: 1.1rem;
  padding: 1%;
  padding-right: 0%;
  resize: vertical;
}
form button {
  margin: 2% auto 0px auto;
  color: #e3e3e3;
  background-color: #363636;
  display: block;
  width: 51%;
  font-size: 1.3rem;
  padding: 1.3%;
  font-style: italic;
}
footer p {
  color: #e6d5d22d;
}
@media only screen and (max-width: 700px) {
  body {
    background-repeat: no-repeat;
    background-size: 120%;
    background-color: #050505;
  }
  .logo {
    width: 75%;
  }
  img {
    width: 100%;
    display: block;
    height: auto;
  }
  .topBox {
    border: 0.6rem solid #000000;
  }
  .topBox,
  form {
    width: 80%;
    padding: 3%;
  }
  label,
  input,
  form button {
    width: 70%;
  }
  form button {
    margin-bottom: 1%;
  }
}
